<!DOCTYPE html>
<head>
   <title>
    invalid credentials
   </title>

<head>
    <body>
        <h1>user already exist Login for further process</h1>
        <h3><a href="/login">login</a></h3>
    </body>
</html>