.info{
    color:#2d0202;
    height: 300px;
    width: 700px;
    display: block;
    margin: 100px auto;
    background-color: rgb(4, 194, 236);
    padding: 80px;
  }

body{
    background: rgba(13, 41, 39, 0.961);
}

    