ul{
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Alumni Sans Inline One', cursive;
    font-size: 50px;
    background-color:rgb(2, 28, 8);
    
}

body{
    background: rgba(198, 182, 235, 0.961);
}

    