body{
  background-color: rgb(142, 152, 224);
}
.header{
  padding: 25px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(227, 227, 236);
  background-color: rgb(14, 17, 18);
  text-align: center;
  
}
input{
  border: 20px;
  border-color:rgb(7, 6, 9);
  border-radius: 20px;
}
form{
   margin-top: 100px;
   margin-left: 250px;
   margin-right: 250px;
   /* margin-bottom: 200px; */
   border: 30px;
   border-color: black;
}
.form-group{
  margin:20px;
}
.submit{
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;
}
.data{
  color:rgb(243, 234, 234);
  height: 300px;
  width: 600px;
  display: block;
  margin: 100px auto;
  background-color: rgb(5, 57, 69);
  padding: 100px;
}

